*{
    opacity: 0.9;
}
body {
    background-color: #000000;
}

header{
    background-color: #000000;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    z-index: 1;
    margin: 0 10px;
    padding-top: 9.5px;
    font-size: 22px;
}

main h2{
    font-size: 32px;
}
.navigation{
    color: seashell;
    font-family: Helvetica;
    position: absolute;
    display: inline-flex;
    right:10px;
    line-height: 50px;
    top: 9.5px;
    text-decoration: underline;
    vertical-align: middle;
}
.navigation li{
    margin: 0 10px;
    line-height: normal
    ;
}

main{
    color: seashell;
    font-family: Helvetica;
    margin: 69px;
}

.mission{
    background: url('img-mission-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: static;
    height: 700px;
    width: 1200px;
    margin: 0 20px;
    padding: 0;
    border-style: solid white;
}

#mission_statement{
    background-color: #000000;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    border: white;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: fit-content;
    vertical-align: middle;
}

.tea_of_the_month{
    text-align: center;
}

.tea_of_the_month ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 150px;
    padding: 0;
}

.tea_of_the_month li{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-left: 50px;
    margin-top: 50px;
}

.item{
    display: inline;
}

.item h5{
    padding-top: 10px; ;
}

.Locations{
    background: url('img-locations-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: static;
    height: 500px;
    width: 1200px;
    margin: 15px 20px;
    padding: 0;
    border-style: solid white;
    text-align: center;
    vertical-align: middle;
    
}

.Locations ul{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    padding: 0;
    opacity: 1;
    
}
.Locations li{
    background-color: #000000;
    font-size: 22px;
    vertical-align: middle;
    height: 300px;
    width: 300px;
    line-height:70px;

}

.Contacto{
    text-align: center;
}